attrs==23.1.0
aws-requests-auth==0.4.3
boto3==1.26.133
botocore==1.29.133
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
importlib-metadata==6.6.0
jmespath==1.0.1
jsonlines==1.2.0
jsonschema==3.2.0
platformdirs==3.5.1
pyrsistent==0.19.3
python-dateutil==2.8.2
PyYAML==6.0
quilt3==5.3.1
requests==2.30.0
requests-futures==1.0.0
s3transfer==0.6.1
six==1.16.0
tenacity==8.2.2
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
zipp==3.15.0
