*.swp
build
.cache
dist
*.egg-info
*.py[cod]
tmp_*
node_modules

quilt_packages
metastore_db
derby.log
node_modules

# let users have their own local ignores
**/*.gitignore

# Visual Studio Code
.vscode
.imdone

# Test coverage
.coverage
cov_html/*

# Pytest cache
compiler/.pytest_cache/*

### emacs
*~
[#]*

# Pycharm
.idea

registry/dpmd
