*.egg-info
*.py[cod]
*.swp
build
.cache
dist
node_modules
tmp_*

metastore_db
derby.log

# let users have their own local ignores
**/*.gitignore

# Visual Studio Code
.vscode
.imdone

# Test coverage
.coverage
cov_html/*

# Pytest cache
compiler/.pytest_cache/*

### emacs
*~
[#]*

# Pycharm
.idea
