# use miniconda for python, so don't specify "python", which doesn't
# work on travis osx anyway
language: generic
os:
  - linux

env:
  global:
    # Compiler and stuff
    - TEST_COMPILER=false
    # Registry supports only a subset of the matrix
    - TEST_REGISTRY=false
    # Registry configs
    - FLASK_APP=quilt_server
    - FLASK_DEBUG=1
    - QUILT_SERVER_CONFIG=dev_config.py
    - QUILT_SECRET_KEY=testing
    # Catalog
    - TEST_CATALOG=false

addons:
  postgresql: "9.6"

matrix:
  fast_finish: true
  include:
    - os: linux
      language: python
      python: "2.7"
      env:
        TEST_COMPILER=true
        TORCH="http://download.pytorch.org/whl/cpu/torch-0.4.0-cp27-cp27mu-linux_x86_64.whl"
    - os: linux
      language: python
      python: "3.5"
      env:
        TEST_COMPILER=true
        TEST_REGISTRY=true
        TORCH="http://download.pytorch.org/whl/cpu/torch-0.4.0-cp35-cp35m-linux_x86_64.whl"
      services:
        - postgresql
    - os: linux
      language: python
      python: "3.6"
      env:
        TEST_COMPILER=true
        TEST_REGISTRY=true
        TORCH="http://download.pytorch.org/whl/cpu/torch-0.4.0-cp36-cp36m-linux_x86_64.whl"
      services:
        - postgresql
    - os: linux
      language: node_js
      cache:
        directories:
          - $HOME/.npm
      node_js:
        - node
        - lts
      env:
        TEST_CATALOG=true

install:
  - |
    # install quilt from setup.py
    if [[ "$TEST_COMPILER" = true ]]; then
      # pytorch doesn't fully support pip; see https://pytorch.org/
      travis_retry pip install "$TORCH"
      travis_retry pip install "./compiler[img,tests,torchvision]"
    fi
  - |
    if [[ "$TEST_REGISTRY" = true ]]; then
      travis_retry pip install -r registry/requirements.txt
      pip install registry
    fi
  - |
    if [[ "$TEST_CATALOG" = true ]]; then
      (cd catalog && npm ci)
    fi

script:
  - |
    if [[ "$TEST_COMPILER" = true ]]; then
      pytest compiler
    fi
  - |
    if [[ "$TEST_REGISTRY" = true ]]; then
      pytest --cov=./ ./registry
    fi
  - |
    if [[ "$TEST_CATALOG" = true ]]; then
      (cd catalog && npm test && npm run build -- --output-filename='[name].js' --output-chunk-filename='[name].chunk.js')
    fi

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - |
    if [[ "$TEST_CATALOG" = true ]]; then
      (cd catalog && npm run bundlesize)
    fi
