language: python

matrix:
  include:
    - os: linux
      sudo: required
      python: 2.7
    - os: linux
      sudo: required
      python: 3.4
    - os: linux
      sudo: required
      python: 3.5
    - os: linux
      sudo: required
      python: 3.6
    # HACK this covers python 2.7 by default
    # TODO be explict about OS X Python version
    - os: osx
      language: generic

# TODO: test multiple python versions on OSX https://github.com/travis-ci/travis-ci/issues/2312

before_install:
  - pip install pytest
  - pip install Cython  # Workaround for a failure in the pyarrow package
  # Install HDF5
  # travis_retry here because occasionally fails on high latency
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then travis_retry brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install homebrew/science/hdf5@1.8; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export HDF5_DIR=$(brew --prefix homebrew/science/hdf5@1.8); fi
  # apt-get libhdf5-dev doesn't work in spite of https://github.com/travis-ci/apt-package-whitelist/issues/416
  # see also: https://github.com/travis-ci/apt-package-whitelist/issues/416
  # right now this looks like the best HDF5 bet
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libhdf5-serial-dev; fi
  - echo $(python --version)

install:
  - travis_retry pip install .

script:
  - pytest

