# use miniconda for python, so don't specify "python", which doesn't
# work on travis osx anyway
language: generic
os:
  - linux

env:
  global:
    # Registry supports only a subset of the matrix
    - TEST_REGISTRY=false
    # Registry configs
    - FLASK_APP=quilt_server
    - FLASK_DEBUG=1
    - QUILT_SERVER_CONFIG=dev_config.py

matrix:
  fast_finish: true
  include:
    - os: linux
      language: python
      python: "2.7"
    - os: linux
      language: python
      python: "3.4"
      env:
        TEST_REGISTRY=true
      services:
        - mysql
    - os: linux
      language: python
      python: "3.5"
      env:
        TEST_REGISTRY=true
      services:
        - mysql
    - os: linux
      language: python
      python: "3.6"
      env:
        TEST_REGISTRY=true
      services:
        - mysql

install:
  # debug support
  - echo $(python --version)
  - pip install -U pip
  - pip install -U numpy pytest --user
  # install quilt from setup.py
  - travis_retry pip install --only-binary 'tables' ./compiler
  - |
    if [[ "$TEST_REGISTRY" = true ]]; then
      travis_retry pip install -r registry/requirements.txt
      pip install registry
    fi

script:
  - pytest compiler
  - |
    if [[ "$TEST_REGISTRY" = true ]]; then
      pytest ./registry
    fi
