# use miniconda for python, so don't specify "python", which doesn't
# work on travis osx anyway
language: generic
os:
  - linux
  - osx
  # TODO: windows CI (not currently supported by travis)

env:
  global:
    - USE_CONDA=true
  matrix:
    - QPYVER=2.7
    - QPYVER=3.5
    - QPYVER=3.6

matrix:
  fast_finish: true
  include:
    - os: linux
      language: python
      python: "2.7"
      env: USE_CONDA=false
    - os: linux
      language: python
      python: "3.4"
      env: USE_CONDA=false
    - os: linux
      language: python
      python: "3.5"
      env: USE_CONDA=false
    - os: linux
      language: python
      python: "3.6"
      env: USE_CONDA=false

before_install:
  - |
    if [[ "$USE_CONDA" = true ]]; then
      if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        curl -o mconda.sh https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
      elif [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        curl -o mconda.sh https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
      fi
      chmod +x mconda.sh
      ./mconda.sh -b
      export PATH="$HOME/miniconda3/bin:$PATH"
    fi

install:
  # debug support
  - echo $(python --version)
  - |
    if [[ "$USE_CONDA" = true ]]; then
      conda create --yes -n quilt_env python=$QPYVER pip
      source activate quilt_env
      pip install pytest
    else
      pip install -U pip
    fi
  # install quilt from setup.py
  - travis_retry pip install --only-binary 'tables' -U .

script:
  - pytest
