image: 
  - Visual Studio 2017

platform:
  - x64

environment:
  global:
    CMD_IN_ENV: "cmd /E:ON /V:ON /C"
    TEST_REGISTRY: false
    # Registry testing globals (currently not used)
    FLASK_APP: quilt_server
    FLASK_DEBUG: 1
    QUILT_SERVER_CONFIG: dev_config.py

  matrix:
      # see https://www.appveyor.com/docs/build-environment/#python
    - PYTHON_PATH: "C:\\Python35-x64"
      # pytorch for 3.5, no cuda see https://pytorch.org/
      TORCH: "http://download.pytorch.org/whl/cpu/torch-0.4.0-cp35-cp35m-win_amd64.whl"
    - PYTHON_PATH: "C:\\Python36-x64"
      # pytorch for 3.5, no cuda see https://pytorch.org/
      TORCH: "http://download.pytorch.org/whl/cpu/torch-0.4.0-cp36-cp36m-win_amd64.whl"

#matrix:
#  fast_finish: true

# why use python -m everywhere? to prevent ambiguity of multiple python versions
# see https://stackoverflow.com/questions/2812520/pip-dealing-with-multiple-python-versions
install:
  - set "PATH=%PYTHON_PATH%;%PYTHON_PATH%\Scripts;%PATH%"
  - set PATH
  - ps: echo $(python --version)
  - ps: echo $(python -c "import platform; print(platform.uname())")
  # Upgrade pip, setuptools since latest are Visual Studio C++ compiler aware
  - python -m pip install --upgrade pip setuptools
  - python -m pip install intel-openmp
  # must precede torchvision install so torchvision install doesn't fail
  - ps: python -m pip install "$env:TORCH"
  - ps: python -m pip install "$env:APPVEYOR_BUILD_FOLDER\\compiler[img,tests,torchvision]"
  - ps: |
      if($env:TEST_REGISTRY -match "true")
      {
        Write-Host "Install quilt registry"
        python -m pip install -r "$env:APPVEYOR_BUILD_FOLDER\\registry\\requirements.txt"
        python -m pip install "$env:APPVEYOR_BUILD_FOLDER\\registry"
      }

build: off

test_script:
  - ECHO "Testing compiler..."
  - ps: python -m pytest "$env:APPVEYOR_BUILD_FOLDER\\compiler"
  - ps: |
      if($env:TEST_REGISTRY -match "true")
      {
        ECHO "Testing registry..."
        python -m pytest "$env:APPVEYOR_BUILD_FOLDER\\registry"
      }
