image:
- Visual Studio 2015
- Visual Studio 2017

environment:
  global:
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"
    TEST_REGISTRY: false
    # Just copy paste these vars from .travis.yml , but they are un-use
    FLASK_APP: quilt_server
    FLASK_DEBUG: 1
    QUILT_SERVER_CONFIG: dev_config.py

  matrix:

    - PYTHON: "C:\\Python35-x64"
      PYTHON_VERSION: "3.5.0"
      PYTHON_ARCH: "64"
      TEST_REGISTRY: false


    - PYTHON: "C:\\Python36-x64"
      PYTHON_VERSION: "3.6.0"
      PYTHON_ARCH: "64"
      TEST_REGISTRY: false



    # Enable this if want to use conda
    #- PYTHON: "C:\\Miniconda3"
    #  PYTHON_VERSION: "3"
    #  PYTHON_ARCH: "64"
    #  TEST_REGISTRY: true

init:
  - "ECHO %PYTHON_VERSION% %APPVEYOR_BUILD_NUMBER%"
  #- "ECHO %APPVEYOR_BUILD_NUMBER%

artifacts:
  - path: compiler\quilt\test\**\*.png
    name: output
    type: zip

install:
  - echo $(python --version)
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "SET PATH=%TEST_REGISTRY%;%TEST_REGISTRY%\\Scripts;%PATH%"
  - ps: |
      if($env:PYTHON -match "conda")
      {
        conda update -y conda
        conda create --yes -n quilt_env python=$QPYVER pip
        #source activate quilt_env
        pip install pytest
      }
      else
      {
        pip install -U numpy pytest
      }

  - ECHO "Install quilt compiler"
  - ps: pip install "$env:APPVEYOR_BUILD_FOLDER\compiler[img,tests]"
  - ps: |
      if($env:TEST_REGISTRY -match "true")
      {
        Write-Host "Install quilt registry"
        pip install -r "$env:APPVEYOR_BUILD_FOLDER\\registry\\requirements.txt"
        pip install "$env:APPVEYOR_BUILD_FOLDER\\registry"
      }

build: off

test_script:
  - ECHO "Test quilt compiler"
  - ps: pytest "$env:APPVEYOR_BUILD_FOLDER\\compiler"
  - ps: |
      if($env:TEST_REGISTRY -match "true")
      {
        Write-Host "Test registry"
        pytest "$env:APPVEYOR_BUILD_FOLDER\\registry"
      }

