alembic==0.8.9
click==6.7
Flask==0.12
Flask-JSON==0.3.0
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.9.3
Mako==1.0.6
MarkupSafe==0.23
PyMySQL==0.7.9
python-editor==1.0.3
SQLAlchemy==1.1.4
Werkzeug==0.11.15
