version: 2.1

orbs:
  win: circleci/windows@2.4.0

workflows:
  version: 2
  test:
    jobs:
      - test-36
      - test-windows
      - test-lambdas-indexer
      - test-lambdas-preview
      - test-lambdas-s3select
      - test-lambdas-search
      - test-lambdas-shared
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*([abrc]+[0-9]+)?$/
            branches:
              ignore: /.*/
jobs:
  test-36: &test-template
    docker:
      - image: circleci/python:3.6-jessie
    environment:
      QUILT_DISABLE_USAGE_METRICS: true
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install -e api/python[tests]
      - run:
          name: Run Pytest
          command: |
            . venv/bin/activate
            cd api/python && pytest --cov=./
            codecov

  test-windows:
    executor:
      name: win/default
      size: "medium"
    environment:
      QUILT_DISABLE_USAGE_METRICS: true
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            pip install virtualenv
            virtualenv venv
            source venv/Scripts/activate
            pip install -e api/python[tests]
          shell: bash.exe
      - run:
          name: Run Pytest
          command: |
            set -e
            source venv/Scripts/activate
            cd api/python; pytest --cov=.
            codecov
          shell: bash.exe

  test-lambdas-indexer:
    docker:
      - image: circleci/python:3.6-jessie
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install lambdas/shared/
            pip install -r lambdas/es/indexer/requirements.txt
            pip install -r lambdas/es/indexer/test-requirements.txt
      - run:
          name: Pytest
          command: |
            . venv/bin/activate
            cd lambdas/es/indexer && pytest --cov=./

  test-lambdas-preview:
    docker:
      - image: circleci/python:3.6-jessie
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install lambdas/shared/
            pip install -r lambdas/preview/requirements.txt
            pip install -r lambdas/preview/test-requirements.txt
      - run:
          name: Pytest
          command: |
            . venv/bin/activate
            cd lambdas/preview && pytest --cov=./

  test-lambdas-s3select:
    docker:
      - image: circleci/python:3.6-jessie
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install lambdas/shared/
            pip install lambdas/s3select
            pip install -r lambdas/s3select/requirements.txt
            pip install -r lambdas/s3select/test-requirements.txt
      - run:
          name: Pytest
          command: |
            . venv/bin/activate
            cd lambdas/s3select && pytest --cov=./

  test-lambdas-search:
    docker:
      - image: circleci/python:3.6-jessie
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install lambdas/shared/
            pip install lambdas/search/
            pip install -r lambdas/search/requirements.txt
            pip install -r lambdas/search/test-requirements.txt
      - run:
          name: Pytest
          command: |
            . venv/bin/activate
            cd lambdas/search && pytest --cov=./

  test-lambdas-shared:
    docker:
      - image: circleci/python:3.6-jessie
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install lambdas/shared/[tests]
      - run:
          name: Pytest
          command: |
            . venv/bin/activate
            cd lambdas/shared && pytest --cov=./
  build:
    docker:
      - image: circleci/python:3.6-jessie
    environment:
      QUILT_DISABLE_USAGE_METRICS: true
    steps:
      - checkout
      - restore_cache:
          key: v1-dependency-cache-{{ checksum "api/python/setup.py" }}-{{ checksum "Makefile" }}
      - run:
          name: install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -e api/python[tests]
      - save_cache:
          key: v1-dependency-cache-{{ checksum "api/python/setup.py" }}-{{ checksum "Makefile" }}
          paths:
            - "venv"
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            cd api/python && pytest --cov=./
            codecov
      - store_artifacts:
          path: htmlcov/

  deploy:
    docker:
      - image: circleci/python:3.6-jessie
    environment:
      QUILT_DISABLE_USAGE_METRICS: true
    steps:
      - checkout
      - restore_cache:
          key: v1-dependency-cache-{{ checksum "api/python/setup.py" }}-{{ checksum "Makefile" }}
      - run:
          name: install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -e api/python[tests]
      - save_cache:
          key: v1-dependency-cache-{{ checksum "api/python/setup.py" }}-{{ checksum "Makefile" }}
          paths:
            - "venv"
      - run:
          name: verify git tag vs. version
          command: |
            python3 -m venv venv
            . venv/bin/activate
            python api/python/setup.py verify
      - run:
          name: init .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = quiltdata" >> ~/.pypirc
            echo -e "password = $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: create packages
          command: |
            cd api/python
            python setup.py sdist
            python setup.py bdist_wheel
      - run:
          name: upload to pypi
          command: |
            . venv/bin/activate
            cd api/python
            pip install twine
            twine upload dist/*
