window.QUILT_CATALOG_CONFIG = {
  "alwaysRequiresAuth": false,
  "analyticsBucket": "<s3 bucket here>",
  "apiGatewayEndpoint": "https://ozj6r9bglc.execute-api.us-east-1.amazonaws.com/prod",
  "azureBaseUrl":  "<azure url here>",
  "azureClientId": "<client id here>",
  "binaryApiGatewayEndpoint": "<registry url here>",
  "googleClientId": "414254601868-vlofcqbns27cd7v337k0v8kg6g11fukr.apps.googleusercontent.com",
  "intercomAppId": "",
  "mixpanelToken": "",
  "mode": "MARKETING",
  "noDownload": true,
  "oktaBaseUrl": "<okta url here>",
  "oktaClientId": "<client id here>",
  "oneLoginBaseUrl": "<onelogin url here>",
  "oneLoginClientId": "<client id here>",
  "passwordAuth": "ENABLED",
  "registryUrl": "<registry url here>",
  "s3Proxy": "https://open-proxy.quiltdata.com",
  "sentryDSN": "",
  "serviceBucket": "<s3 bucket here>",
  "ssoAuth": "SIGN_IN_ONLY",
  "ssoProviders": "google",
}
