window.QUILT_CATALOG_CONFIG = {
  "region": "us-east-1",
  "registryUrl": "<registry url here>",
  "alwaysRequiresAuth": false,
  "apiGatewayEndpoint": "https://ozj6r9bglc.execute-api.us-east-1.amazonaws.com/prod",
  "s3Proxy": "https://open-proxy.quiltdata.com",
  "passwordAuth": "ENABLED",
  "ssoAuth": "SIGN_IN_ONLY",
  "ssoProviders": "google",
}
