{
  "registryUrl": "<registry url here>",
  "alwaysRequiresAuth": false,
  "signInRedirect": "/b/quilt-example",
  "signOutRedirect": "/",
  "defaultBucket": "quilt-example",
  "apiGatewayEndpoint": "https://ozj6r9bglc.execute-api.us-east-1.amazonaws.com/prod",
  "s3Proxy": "https://open-proxy.quiltdata.com",
  "suggestedBuckets": [
    "quilt-example",
    "quilt-aics"
  ],
  "federations": [
    "/federation.json"
  ]
}
