{
    "region": "${REGION}",
    "apiGatewayEndpoint": "${API_GATEWAY}",
    "alwaysRequiresAuth": ${ALWAYS_REQUIRE_AUTH},
    "noDownload": ${NO_DOWNLOAD},
    "s3Proxy": "${S3_PROXY_URL}",
    "intercomAppId": "${INTERCOM_APP_ID}",
    "registryUrl": "${REGISTRY_URL}",
    "passwordAuth": "${PASSWORD_AUTH}",
    "ssoAuth": "${SSO_AUTH}",
    "ssoProviders": "${SSO_PROVIDERS}",
    "sentryDSN": "${SENTRY_DSN}",
    "mixpanelToken": "${MIXPANEL_TOKEN}",
    "analyticsBucket": "${ANALYTICS_BUCKET}",
    "serviceBucket": "${SERVICE_BUCKET}",
    "mode": "${CATALOG_MODE}"
}
