{
  "registryUrl": "<registry url here>",
  "alwaysRequiresAuth": false,
  "signInRedirect": "/b/quilt-example",
  "signOutRedirect": "/",
  "defaultBucket": "quilt-example",
  "apiGatewayEndpoint": "https://ozj6r9bglc.execute-api.us-east-1.amazonaws.com/prod",
  "guestCredentials": {
    "accessKeyId": "",
    "secretAccessKey": ""
  },
  "suggestedBuckets": [
    "quilt-example",
    "quilt-aics"
  ],
  "federations": [
    "/federation.json"
  ],
  "googleClientId": "414254601868-vlofcqbns27cd7v337k0v8kg6g11fukr.apps.googleusercontent.com"
}
