{
    "apiGatewayEndpoint": "${API_GATEWAY}",
    "binaryApiGatewayEndpoint": "${BINARY_API_GATEWAY}",
    "alwaysRequiresAuth": ${ALWAYS_REQUIRE_AUTH},
    "noDownload": ${NO_DOWNLOAD},
    "s3Proxy": "${S3_PROXY_URL}",
    "intercomAppId": "${INTERCOM_APP_ID}",
    "registryUrl": "${REGISTRY_URL}",
    "passwordAuth": "${PASSWORD_AUTH}",
    "ssoAuth": "${SSO_AUTH}",
    "ssoProviders": "${SSO_PROVIDERS}",
    "googleClientId": "${GOOGLE_CLIENT_ID}",
    "oktaClientId": "${OKTA_CLIENT_ID}",
    "oktaBaseUrl": "${OKTA_BASE_URL}",
    "oneLoginClientId": "${ONELOGIN_CLIENT_ID}",
    "oneLoginBaseUrl": "${ONELOGIN_BASE_URL}",
    "sentryDSN": "${SENTRY_DSN}",
    "mixpanelToken": "${MIXPANEL_TOKEN}",
    "analyticsBucket": "${ANALYTICS_BUCKET}",
    "mode": "${CATALOG_MODE}"
}
