// eslint-disable-next-line no-underscore-dangle
window.__CONFIG = {
  alwaysRequiresAuth: Boolean('$ALWAYS_REQUIRES_AUTH'),
  api: '$REGISTRY_URL',
  sentryDSN: '$SENTRY_DSN',
  mixpanelToken: '$MIXPANEL_TOKEN',
  stripeKey: '$STRIPE_KEY',
  // eslint-disable-next-line no-constant-condition comma-dangle
  team: '$TEAM_ID' ? { id: '$TEAM_ID', name: '$TEAM_NAME' } : undefined
};
