window.__CONFIG = {
  alwaysRequiresAuth: Boolean('$ALWAYS_REQUIRES_AUTH'),
  api: '$REGISTRY_URL',
  signOutUrl: '$SIGN_OUT_URL',
  stripeKey: '$STRIPE_KEY',
  team: '$TEAM_ID' ? { id: '$TEAM_ID' } : undefined,
  userApi: '$USER_API'
};
