aicsimageio==3.0.7
attrs==19.1.0
certifi==2018.11.29
chardet==3.0.4
idna==2.8
imageio==2.5.0
jsonschema==3.0.1
numpy==1.21.5
pdf2image==1.13.1
Pillow==9.0.1
psutil==5.7.0
pyrsistent==0.14.11
requests==2.26.0
scipy==1.7.1
tifffile==0.15.1
six==1.12.0
urllib3==1.26.5
