<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ team }}</title>
  <style type="text/css">
  #outer {
    max-width: 600px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
  }
  #inner {
    padding: 0 15px;
  }
  p {
    color: #202020;
    font-size: 16px;
    line-height: 150%;
  }
  #title {
    padding: 9px 18px;
    font-size: 14px;
  }
  .line {
    height: 1px;
    border-top: 2px solid #EEEEEE;
  }
  #copyright {
    margin-top: 20px;
    color: #656565;
    text-align: center;
    font-size: 12px;
  }
  </style>
</head>
<body>
  <div id="outer">
    <div id="inner">
      <p>You recently signed up for Quilt.</p>
      <p>To activate your account, <a href="{{ link }}">click here in the next 24 hours</a>.</p>
      <p>Sincerely, <a href="https://quiltdata.com">Quilt Data</a></p>
      <div id="copyright"><em>Copyright &copy; 2018 Quilt Data, Inc. All rights reserved.</em></div>
    </div>
  </div>
</body>
</html>
