{% extends 'base.html' %}

{% block title %}Quilt Login - Success{% endblock %}

{% block content %}
  <div class='container-fluid' style='margin-top: 30px'>
    <div class='row-fluid'>
      <div class='well' style='width: 400px; max-width: 400px; margin-left: auto; margin-right: auto'>
        <div class='row-fluid'>
          <a href='{{CATALOG_URL}}'>
            <img
              height='48'
              src="https://d1zvn9rasera71.cloudfront.net/quilt-dark-crescent-512.png"
              style='margin: 0 auto 1em auto; display: block;'/>
          </a>
        </div>
        <div class='row-fluid'>
          <h3>Enter the following code into the quilt prompt:</h3>
          <pre style="font-size: 100%">{{ code }}</pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
