attrs==19.1.0
aws-requests-auth==0.4.2
boto3==1.17.100
botocore==1.20.100
certifi==2019.6.16
chardet==3.0.4
decorator==4.4.0
docutils==0.15.2
# This is the highest version that's less than our pinned ES version of 6.7
elasticsearch==6.3.1
fcsparser==0.2.1
idna==2.8
ipython-genutils==0.2.0
jmespath==0.9.4
jsonschema==3.2.0
jupyter-core==4.5.0
nbformat==4.4.0
numpy==1.19.5
openpyxl==3.0.7
pandas==1.1.5
pdfminer.six==20201018
psutil==5.7.0
pyarrow==2.0.0
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
s3transfer==0.4.2
six==1.12.0
strict-rfc3339==0.7
tenacity==5.0.3
traitlets==4.3.2
urllib3==1.25.8
xlrd==2.0.1
