# TODO: Should include ../shared/, but relative paths don't work as expected.
# https://github.com/pypa/pip/issues/3772
backcall==0.1.0
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.2
entrypoints==0.3
idna==2.7
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
numpy==1.16.1
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyarrow==0.12.0
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.20.0
six==1.12.0
testpath==0.4.2
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
xlrd==1.2.0
