{% macro stylesheet(href) %}
  <link href="{{ href }}" rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{ stylesheet("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:300,400,500") }}
    {{ stylesheet("https://unpkg.com/material-components-web@14.0.0/dist/material-components-web.min.css") }}
    <link
      href="https://quilt-web-public.s3.amazonaws.com/q-128-square.png"
      rel="icon"
      type="image/png"
      sizes="128x128"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />


    <style>{% block style %}{% endblock %}</style>
    <title>{% block title required %}{% endblock %}</title>
  </head>
  <body class="mdc-typography">
    {% block body required %}{% endblock %}
  </body>
</html>
