body .vega-embed {
  max-width: 100%;
}

body .vega-embed .vega-actions {
  right: 38px;
  top: 0;
}

body .vega-embed .vega-actions::after,
body .vega-embed .vega-actions::before {
  display: none;
}

body .vega-embed .chart-wrapper {
  max-width: 100%;
  overflow: auto;
}
