attrs==19.1.0
aws-requests-auth==0.4.2
botocore==1.19.15
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
elasticsearch==6.8.1
idna==2.8
jmespath==0.9.4
jsonschema==3.0.2
pyrsistent==0.15.4
python-dateutil==2.8.0
requests==2.25.0
six==1.12.0
urllib3==1.25.4
