on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
  merge_group:
jobs:
  test-catalog:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: catalog
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: 'catalog/package.json'
          cache: 'npm'
          cache-dependency-path: 'catalog/package-lock.json'
      - run: npm ci
      - run: npm run lint
      - run: npm test
      - run: npm run build
      - env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
        run: npm run bundlewatch
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          flags: catalog
          name: ${{ github.job }}
  lint-docs:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=4096
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: 'catalog/package.json'
      - run: npx --package=markdownlint-cli markdownlint .
