name: Test quilt3.admin code generation

on:
  push:
    paths:
      - '.github/workflows/test-quilt3-admin-codegen.yaml'
      - 'shared/graphql/schema.graphql'
      - 'api/python/quilt3-admin/**'
      - 'api/python/quilt3/admin/_graphql_client/**'
  pull_request:
    paths:
      - '.github/workflows/test-quilt3-admin-codegen.yaml'
      - 'shared/graphql/schema.graphql'
      - 'api/python/quilt3-admin/**'
      - 'api/python/quilt3/admin/_graphql_client/**'
  merge_group:

jobs:
  test-quilt3-admin-codegen:
    name: test quilt3.admin generated code is up-to-date
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api/python/quilt3-admin
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version-file: 'api/python/quilt3-admin/.python-version'
          cache: 'pip'
          cache-dependency-path: 'api/python/quilt3-admin/requirements.txt'
      - run: pip install -r requirements.txt
      - run: rm -r ../quilt3/admin/_graphql_client
      - run: ariadne-codegen
      - name: Check for changes
        run: git diff --exit-code
